[package]
name = "mpris-control"
version = "0.3.1"
authors = ["BlackDex"]
edition = "2018"

repository = "https://github.com/BlackDex/mpris-control"
readme = "README.md"
license = "GPL-3.0-only"
publish = false

[dependencies]
mpris = "2.0.0-rc1"
clap = "2"

[profile.release]
lto = true
opt-level = "s"
codegen-units = 1
inline-threshold = 275
