[package]
name = "mpris-control"
version = "0.1.0"
authors = ["BlackDex"]
edition = "2018"

repository = "https://github.com/BlackDex/mpris-control"
readme = "README.md"
license = "GPL-3.0-only"
publish = false
#build = "build.rs"

[dependencies]
mpris = "*"

[patch.crates-io]
mpris = { git = 'https://github.com/Mange/mpris-rs', rev = '4e1f06de3edc865970e5107bd34b2fb40699d03b' }

[profile.release]
lto = true
opt-level = "s"
codegen-units = 1
inline-threshold = 275

